/* General */
body {
  width: 800px;
  margin: 0 auto;
}

/* Typography */
h1, h2 {
  text-align: center;
}

/* Block Styling */
.main {
  background: url("Images/phone_globe.jpg");
  color: black;
}

/* Styling the products display */
.item img {
  width: 200px;
  height:200px;
}

/* Div children of body */
body > div {
  border: 5px solid black;
}
.rotate {
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}

#productsTable tbody td {
  text-align: center;
  vertical-align: middle;
}

#productsTable {
  width: 100%;
}

#productsTable tbody {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center rows horizontally */
}

#productsTable tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly; /* Distribute products evenly in the row */
}

.center-row {
  justify-content: center; /* Center the two products in the bottom row */
}
